* {
    text-align: center;
}

.game-box {
    margin: 0 auto;
    background-color: black;
    height: 400px;
    width: 400px;
    position: relative;
}

.banner {
    width: 100%;
}

#options {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    height: 15%;
}

.table {
    color: white;
    background-color: transparent;
}

.table th {
    text-align: center !important;
    text-transform: uppercase;
}

.table td {
    font-size: 20px;
}

#player-option {
    text-transform: uppercase;
    color: blue;
}

#cpu-option {
    text-transform: uppercase;
    color: red;
}

#score {
    text-transform: capitalize;
}

#final-score {
    text-transform: uppercase;
    color: yellow;
}

#retry-button {
    visibility: hidden;
    font-size: 20px;
    color: white;
}

.image {
    cursor: pointer;
}

.image:hover {
    width: 60px;
}